<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ url_for('static',filename='styles/answer.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='styles/background.css') }}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoGrid</title>
    <script>
        function openPath(path) {
                alert("Открытие файла");
                fetch('/open', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({path: path})
            })
            .then(response => response.json())
            .then(data => console.log(data));
        }
    </script>
</head>
<body>
<div class="background-container">
    <div class="background-image"></div>
</div>

<div class="container">
    <a href="{{ url_for('index') }}" style="text-decoration: none;">
        <h1>NeoGrid</h1>
    </a>
    {% if edited_text %}
    <div class="llm-response">
        {{ edited_text|safe }}
    </div>
    <p></p>
    <div class="sources">

        Источники: <p></p>

        {% for elem in sources %}
            {{ elem }}
            <p> </p>
        {% endfor %}
    </div>
    {% endif %}
</div>
<p></p>
<div class="container">
    <div class="sources">
        <ul>
            {% for path in sources %}
            <li>
                <button class='file_ref' onclick="openPath('{{ path }}')">{{ path }}</button>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
