<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='styles/files.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='styles/background.css') }}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Explorer</title>
</head>
<div class="background-container">
    <div class="background-image"></div>
</div>
<body>
<h1>Found elements</h1>

<table class="file-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Path</th>
        <th>Chunk</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr>
        <td>{{ file.name }}</td>
        <td>
                    <span class="file-type {{ file.type|lower }}">
                        {{ file.type }}
                    </span>
        </td>
        <td>{{ file.path }}</td>
        <td>
            <div class="expandable-text" onclick="this.classList.toggle('expanded')">
                {{ file.content.chunk | join(" ;\n") }}
              </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
