<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoGrid</title>
</head>
<body>
<div class="background-container">
  <div class="background-image"></div>
</div>
<div class="container">
    <h1>NeoGrid</h1>

    <div class="search-box">
        <form action="{{ url_for('invoke_prompt') }}">
            <input type="text" name="search_term" placeholder="Search in files..."
                   value="{{ search_term if search_term }}" class="search-input">
            <input type="hidden" name="current_dir" value="{{ current_dir }}">
            <button type="submit"></button>
            {% if is_search_results %}
            <a href="{{ url_for('browse', subpath=current_dir[base_dir|length +1:].replace('\\', '/')) }}"
               class="cancel-search">Show All</a>
            {% endif %}
        </form>
    </div>

    <div class="breadcrumb">
        <!-- Home link -->
        <a href="{{ url_for('index') }}">🏠 Home</a>

        <!-- Path segments -->
        {% for part in path_parts %}
        &nbsp;/&nbsp;
        <a href="{{ url_for('browse', subpath=part.path) }}">{{ part.name }}</a>
        {% endfor %}

        <!-- Up link if not at root -->
        {% if parent_dir %}
        &nbsp;|&nbsp;
        <a href="{{ url_for('browse', subpath=os.path.relpath(parent_dir, base_dir).replace('\\', '/')) }}">↑ Up</a>
        {% endif %}
    </div>


    <table class="file-table">
        <thead>
        <tr>
            <th>Name</th>
            <th class="size">Size</th>
            <th>Modified</th>
        </tr>
        </thead>
        <tbody>

        {% for item in items %}
        <tr>
            <td>
                {% if item.is_dir %}
                <a href="{{ url_for('browse', subpath=(current_dir + '/' + item.name)[base_dir|length +1:].replace('\\', '/')) }}"
                   class="dir">📁 {{ item.name }}</a>
                {% else %}
                <a href="{{ url_for('download', filename=current_dir + '/' + item.name) }}"
                   class="file">📄 {{ item.name }}</a>
                {% endif %}
            </td>
            <td> {{ item.size }} </td>
            <td> {{ item.modified}} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>