<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ url_for('static',filename='styles/settings.css') }}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoGrid | Loading</title>
    <script>
        function navigate() {
            window.location.href = 'invoke_prompt_data';  // Redirects user to the /map route when 'create_map' is finished
        }
        fetch( {{ url_for('invoke_prompt_call', call=search_data) }} ).then(navigate); // Performing 'create_map' and then calls navigate() function, declared above
    </script>
</head>
<body>
<div class="loader"></div>
</body>