<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const toggle = document.getElementById('toggleSwitch');
        const statusText = document.getElementById('statusText');

        // Initial state
        updateText(toggle.checked);

        // On change
        toggle.addEventListener('change', function () {
          updateText(this.checked);
        });

        function updateText(isOn) {
          statusText.textContent = `Switch is ${isOn ? "ON" : "OFF"}`;
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='styles/settings.css') }}" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoGrid | Settings</title>
</head>
<body>

<div class="background-container">
    <div class="background-image"></div>
</div>
<div class="container">
    <a href="{{ url_for('index') }}" style="text-decoration: none;">
        <h1>NeoGrid</h1>
    </a>
    <form method="POST" action="{{ url_for('apply_settings') }}">
        <table class="settings-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for setting in settings_data %}
            <tr>
                <td>{{ setting }}</td>
                <td>
                    {% if settings_data.get(setting)['type'] != 'bool' %}
                        <label>Variable value: </label>
                        <input class='setting_value'
                               name="{{ setting }}"
                               type="text"
                               value="{{ settings_data.get(setting)['value'] }}"/>
                    {% else %}
                    <label>Bool </label>
                        <label class="switch">
                            <input type="checkbox"
                                   name="{{ setting }}"
                                   {% if settings_data.get(setting)['value'] %}checked{% endif %}>
                            <span class="slider"></span>
                        </label>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <p style="padding-bottom: 15px;"></p>
    <button class="save-and-submit" type="submit" onClick="window.location.href='{{ url_for('apply_settings') }}'">
        Сохранить
    </button>
    </form>


</div>
</body>
</html>