body {
    font-family: Century Gothic, serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
h1 {
    font-family: Century Gothic, serif;
    font-size: 7.2em;
    text-align: center;
    color: #444;
}

.background-container {
  width: 100%;
  height: 100vh; /* Заполняет высоту экрана */
  overflow: hidden; /* Скрывает выходящее за границы изображение */
  position: fixed; /* Фиксирует фон на месте */
  top: 0;
  left: 0;
  z-index: -1; /* Размещает фон под контентом */
}

.background-image {
  width: 100%; /* Увеличиваем ширину, чтобы было куда перемещать */
  height: 200%;
  background: linear-gradient(30deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-size: cover; /* Растягиваем изображение, чтобы покрыть всю область */
}

.answer-text {
    display: block;
    margin: 0 auto;

    border: solid;
    text-align: center;
    border: 2px solid #7BA7AB;
    border-radius: 5px 0 0 5px;
    outline: none;
    background: #F9F0DA;
}