@import "background.css"

body {
    font-family: Century Gothic, serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-family: Century Gothic, serif;
    font-size: 7.2em;
    text-align: center;
    color: #444;
}
h1 a {
  display: inline-block; /* Limits click area to text */
}

.sources {
    font-family: Century Gothic, serif;
    display: block;
    margin: 0 auto;
    padding: 16px;
    border: solid;
    text-align: left;
    border: 2px solid #7BA7AB;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    background: #F9F0DA;
}

.llm-response {
    font-family: Century Gothic, serif;
    font-size: 24px;
    display: block;
    margin: 0 auto;
    padding: 16px;
    border: solid;
    text-align: left;
    border: 2px solid #7BA7AB;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    background: #F9F0DA;
}

.-response p {
    font-size: 24px;
    font-family: Century Gothic, serif;
    margin-bottom: 16px;
}

.llm-response strong {
    font-family: Century Gothic;
    font-size: 24px;
    color: #2c3e50;
    font-weight: 600;
}

.llm-response em {
    color: #7f8c8d;
    font-family: Century Gothic, serif;
    font-size: 24px;
    font-style: italic;
}

.llm-response pre {
    background: #282c34;
    color: #abb2bf;
    padding: 16px;
    font-size: 24px;
    font-family: Century Gothic, serif;
    border-radius: 4px;
    overflow-x: auto;
    margin: 20px 0;
}

.llm-response code {
    font-family: 'Courier New', monospace;
}

.sources {
    max-width: 1000px;
    font-family: Century Gothic, serif;
    display: block;
    margin: 0 auto;
    padding: 16px;
    border: solid;
    text-align: left;
    border: 2px solid #7BA7AB;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    background: #F9F0DA;
}

button.file_ref {
    font-family: Century Gothic, serif;
    color: #282c34;
    background: #F9F0DA;
    text-align: left;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;

}