@import "background.css"

body {
    font-family: Century Gothic, serif;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    color: #333;
}

td:first-child { width: 33% ;}

.file-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.file-table th, .file-table td {
    padding: 8px;
    text-align: center;
}
.file-table th {
    background-color: #FAEBD7;
}
.file-table tr {
    background-color: #FAEBD7;
}
.file-type {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

.directory {
    background-color: #d4edda;
    color: #155724;
}
.text {
    background-color: #e2e3e5;
    color: #383d41;
}
.code {
    background-color: #fff3cd;
    color: #856404;
}
.document {
    background-color: #f8d7da;
    color: #721c24;
}

.expandable-text {
max-height: 2em;
overflow: hidden;
transition: max-height 0.3s ease;
cursor: pointer;
}
.expandable-text.expanded {
max-height: 500px; /* Adjust based on your content */
}
