body {
    font-family: Century Gothic, serif;
    margin: 20px;
    line-height: 1.6;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-family: Century Gothic, serif;
    font-size: 7.2em;
    text-align: center;
    color: #444;
}

.settings-table {
    background-color: #F0F8FF;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.settings-table th, .settings-table td {
    padding: 8px;
    text-align: center;
}

.settings-table th, .settings-table td {
    padding: 8px;
    text-align: center;
}

.file-table tr:hover {
    background-color: #f9f9f9;
}

.settings-table th {
    background-color: #FAEBD7;
}
.settings-table tr {
    background-color: #FAEBD7;
}

.setting_value {
    border: solid;
    border-color: #7BA7AB;
    font-size: 11pt;
    width: 350px;
    font-family: Century Gothic, serif;
}

.background-container {
  width: 100%;
  height: 100vh; /* Заполняет высоту экрана */
  overflow: hidden; /* Скрывает выходящее за границы изображение */
  position: fixed; /* Фиксирует фон на месте */
  top: 0;
  left: 0;
  z-index: -1; /* Размещает фон под контентом */
}

.background-image {
  width: 100%; /* Увеличиваем ширину, чтобы было куда перемещать */
  height: 200%;
  background: linear-gradient(30deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background-size: cover; /* Растягиваем изображение, чтобы покрыть всю область */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


button.save-and-submit {
    display: block;
    margin: 0 auto;
    border: solid;
    width: 50%;
    padding: 10px;
    border-color: #7BA7AB;
    width: 108px; height: 48px;
    font-size: 11pt;
    font-family: Century Gothic, serif;
    background-color: #FAEBD7;
}